<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
	<TestRunParameters>
		<Parameter name = "weburl" value = "https://www.iveco-on.com/" />
		<Parameter name = "registration_weburl" value = "//a[@href='https://www.iveco-on.com/registration?lang=en']" />
		<Parameter name = "fm_account" value="mfm_automation@hotmail.com" />
		<Parameter name = "fm_pwd" value="@123Iveco" />
		<Parameter name = "fm_account2" value="mfm_automation@hotmail.com" />
		<Parameter name = "fm_pwd2" value="@123Iveco" />
		<Parameter name = "tco_account" value="ivecoeurope\F16386D" />
		<Parameter name = "tco_pwd" value="Accenture1993!!!" />
		<Parameter name = "hq_account" value="ivecoeurope\F16386D" />
		<Parameter name = "hq_pwd" value="Accenture1993!!!" />
		<Parameter name = "dealer_account" value="" />
		<Parameter name = "dealer_pwd" value="" />
		<Parameter name = "directX_account" value="test.directx.uat.1@yopmail.com" />
		<Parameter name = "directX_pwd" value="@123Iveco" />
		<Parameter name = "vin_remote_commands" value="ZCFC0000514991055" />
		<Parameter name = "country_truck_diesel" value="Italy" />
		<Parameter name = "company_truck_diesel_name" value="P.M.G. S.R.L." />
		<Parameter name = "company_truck_diesel_id" value="11" />
		<Parameter name = "contract_truck_diesel_id" value="15" />
		<Parameter name = "multi_country_truck_diesel" value="Italy" />
		<Parameter name = "multi_company_truck_diesel_name_1" value="RODELLA TRASPORTI - IT01543880205" />
		<Parameter name = "multi_company_truck_diesel_id_1" value="2589" />
		<Parameter name = "multi_contract_truck_diesel_id_1" value="5838" />
		<Parameter name = "multi_company_truck_diesel_name_2" value="BIZZARRO S.P.A. - IT00053770624" />
		<Parameter name = "multi_company_truck_diesel_id_2" value="2946" />
		<Parameter name = "country_truck_NP" value="Italy" />
		<Parameter name = "company_truck_NP_name" value="VOLPI TRASPORTI" />
		<Parameter name = "company_truck_NP_id" value="422" />
		<Parameter name = "contract_truck_NP_id" value="918" />
		<Parameter name = "multi_country_truck_NP" value="France" />
		<Parameter name = "multi_company_truck_NP_name" value="ZAM LEASE TRAILER - FR72844801829" />
		<Parameter name = "multi_company_truck_NP_id" value="4272" />
		<Parameter name = "multi_contract_truck_NP_id" value="16678" />
		<Parameter name = "country_heavybus_diesel" value="France" />
		<Parameter name = "company_heavybus_diesel_name" value="Rapides du Poitou - FR49315350181" />
		<Parameter name = "company_heavybus_diesel_id" value="18090" />
		<Parameter name = "contract_heavybus_diesel_id" value="32016" />
		<Parameter name = "multi_country_heavybus_diesel" value="France" />
		<Parameter name = "multi_company_heavybus_diesel_name_1" value="Rapides du Poitou - FR49315350181" />
		<Parameter name = "multi_company_heavybus_diesel_id_1" value="18090" />
		<Parameter name = "multi_contract_heavybus_diesel_id_1" value="32016" />
		<Parameter name = "multi_company_heavybus_diesel_name_2" value="VOYAGES BELLIER - FR80323887711" />
		<Parameter name = "multi_company_heavybus_diesel_id_2" value="20973" />
		<Parameter name = "country_heavybus_NP" value="France" />
		<Parameter name = "company_heavybus_NP_name" value="VOYAGES LEFORT - FR37303410641" />
		<Parameter name = "company_heavybus_NP_id" value="18606" />
		<Parameter name = "contract_heavybus_NP_id" value="32994" />
		<Parameter name = "multi_country_heavybus_NP" value="France" />
		<Parameter name = "multi_company_heavybus_NP_name_1" value="VOYAGES LEFORT - FR37303410641" />
		<Parameter name = "multi_company_heavybus_NP_id_1" value="18606" />
		<Parameter name = "multi_contract_heavybus_NP_id_1" value="32994" />
		<Parameter name = "multi_company_heavybus_NP_name_2" value="SASU HOLFIMA SERVICES - FR20797978004" />
		<Parameter name = "multi_company_heavybus_NP_id_2" value="20087" />
		<Parameter name = "country_heavybus_Electric" value="France" />
		<Parameter name = "company_heavybus_Electric_name" value="IVECO BUS DEMO" />
		<Parameter name = "company_heavybus_Electric_id" value="23207" />
		<Parameter name = "contract_heavybus_Electric_id" value="74415" />
		<Parameter name = "country_tway_diesel" value="Italy" />
		<Parameter name = "company_tway_diesel_name" value="SUD E.S.T.O. - SRL - IT00549500064" />
		<Parameter name = "company_tway_diesel_id" value="712" />
		<Parameter name = "contract_tway_diesel_id" value="25746" />
		<Parameter name = "country_light_diesel" value="Italy" />
		<Parameter name = "company_light_diesel_name" value="LIGURIA DIESEL" />
		<Parameter name = "company_light_diesel_id" value="1870" />
		<Parameter name = "contract_light_diesel_id" value="2224" />
		<Parameter name = "multi_country_light_diesel" value="Poland" />
		<Parameter name = "multi_company_light_diesel_name" value="MOTO-PARTNER Sp. z o.o. - PL8950017048" />
		<Parameter name = "multi_company_light_diesel_id" value="4390" />
		<Parameter name = "multi_contract_light_diesel_id" value="45876" />
		<Parameter name = "country_light_NP" value="Italy" />
		<Parameter name = "company_light_NP_name" value="CENTROGEL" />
		<Parameter name = "company_light_NP_id" value="2458" />
		<Parameter name = "contract_light_NP_id" value="2952" />
		<Parameter name = "country_light_Electric" value="United Kingdom" />
		<Parameter name = "company_light_Electric_name" value="IVECO UK" />
		<Parameter name = "company_light_Electric_id" value="10016" />
		<Parameter name = "contract_light_Electric_id" value="73453" />
		<Parameter name = "multi_country_light_NP" value="Spain" />
		<Parameter name = "multi_company_light_NP_name" value="AMBULANCIAS MAR MENOR SL - ESB73166936" />
		<Parameter name = "multi_company_light_NP_id" value="3972" />
		<Parameter name = "multi_contract_light_NP_id" value="4873" />
		<Parameter name = "company_topcare_id_rodella" value="2589" />
		<Parameter name = "account_italy" value="demoivecohq@yopmail.com" />
		<Parameter name = "countryName_changeFleetManager" value="ITALY" />
		<Parameter name = "countryId_changeFleetManager" value="104" />
		<Parameter name = "companyName_changeFleetManager" value="IVECO HEAVY DEMO" />
	</TestRunParameters>
</RunSettings>